body
{
	width: 1340px;
	margin: 0 auto 0 auto;
}
.waterfall-col
{
	margin-right: 15px;
	margin-left: 15px;
	display: inline-block;
	width: 300px;
	vertical-align: top;
}
.waterfall-item
{
	display:block;
}
.waterfall-picitem
{
	width: 300px;
	transition: width .3s;
   -webkit-transition: width .3s;
   -moz-transition: width .3s;
}
.waterfall-picitem:hover
{
	width: 330px;
}