body
{
	background: url(bg.jpg) repeat;
	background-attachment: fixed;
	margin: 0 auto 0 auto;
}
.waterfall-col
{
	margin-right: 15px;
	margin-left: 15px;
	display: inline-block;
	width: 300px;
	vertical-align: top;
}
.waterfall-item
{
	display:block;
}
.waterfall-picitem
{
	margin: 4px auto 4px auto;
	width: 300px;
	transition: width .3s;
   -webkit-transition: width .3s;
   -moz-transition: width .3s;
}
.waterfall-picitem:hover
{
	width: 330px;
}
.audio
{
	display: inline-block;
	position: fixed;
	bottom: 20px;
	right: 5px;
	box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.3);
	overflow: hidden;
	opacity: 0.7;
  	transition: opacity .3s;
  	-webkit-transition: opacity .3s;
  	-moz-transition: opacity .3s;
}
.audio:hover
{
  opacity: 1;
}
.shelter
{
	position: absolute;
	background-color: #333;
	width: 100%;
	visibility: hidden;
	z-index: 1;
	opacity: 0.7;
}
#col1
{
	margin-left: 300px;
}
#bigpic
{
	width: 800px;
	visibility: hidden;
	z-index: 2;
	opacity: 1;
	background-color: white;
	position: fixed;
	display: block;
}
#bigpic_pic_img
{
	width: 500px;
	display: inline-block;
}
#bigpic_pic_div
{
	width: 500px;
	float: left;
}
#bigpic_comment
{
	position: relative;
	top: 0;
	right: 0;
	width: 296px;
	float: right;
}
#turnpage
{
	width: 100%;
	height: 40px;
}
#zuo
{
	margin-left: 50px;
	float: left;
}
#you
{
	margin-right: 50px;
	float: right;
}
#pages
{
	text-align: center;
	width: 90px;
	height: 40px;
	float: left;
}
#commenttext
{
	width: 100%;
}
#commentsul
{
	margin-right: 20px;
}