body
{
	background: url(bg.jpg) repeat;
	background-attachment: fixed;
	width: 1340px;
	margin: 0 auto 0 auto;
}
.waterfall-col
{
	margin-right: 15px;
	margin-left: 15px;
	display: inline-block;
	width: 300px;
	vertical-align: top;
}
.waterfall-item
{
	display:block;
}
.waterfall-picitem
{
	margin: 4px auto 4px auto;
	width: 300px;
	transition: width .3s;
   -webkit-transition: width .3s;
   -moz-transition: width .3s;
}
.waterfall-picitem:hover
{
	width: 330px;
}
.audio
{
	display: inline-block;
	position: fixed;
	bottom: 20px;
	right: 5px;
	box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.3);
	overflow: hidden;
	opacity: 0.7;
  	transition: opacity .3s;
  	-webkit-transition: opacity .3s;
  	-moz-transition: opacity .3s;
}
.audio:hover
{
  opacity: 1;
};